/* 
    Document   : layout.css
    Created on : 17.04.2012, 10:05:18
    Author     : Alex Buchner
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.contentWrap{
    background-color: #EFEFEF;
    position: absolute;	/*Position auf absolute Position setzen*/
    width: 800px; /*Breite des Inhaltsbereichs angeben*/
    left: 50%; /*Nun den Abstand vom linken Bildschirmrand auf 50% setzen*/
    margin-left: -400px; /*Und nun wieder um die Halbe Inhaltsbreite zurück schieben*/
    min-height: 700px;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

header{
    padding: 10px;
}
header h2 {
    font-size: 3em;
    color: #454545;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin: 0.5em 0 5px 0;
    padding: 0;
    line-height: 1;
}

h3 {
    margin: 1em 0 0 0;
    padding: 0;
    line-height: 1;
    color: #454545;
    font-size: 1.1667em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}
header h3 {
    font-size: 1.7500em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1;
    color: #777;
    font-weight: normal;
}
.content {
    padding-left: 10px;
}

footer {
    background: #2E333E;
    color: white;
    height: 90px;
    padding: 10px;
    font-size: 14px;
    bottom: 0px;
    position: absolute;
    width: 780px;
}
footer h3{
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1;
    color: #777;
    font-weight: normal;
}
p{
    color:#444;
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    margin: 1em 1em 1em 1em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 1em;
    -webkit-margin-end: 1em;
}

#ContactFooter{
    float: left;
    margin-left: 80px;
    margin-top: 10px;
}
#AdressFooter{
    float: left;
    margin-top: 10px;
}
left{
    float: left;    
}

.text{
    color:greenyellow;
}
a {
    color: #4D87C7;
}
.highlightText{
    text-decoration: none;
    font-weight: bold;
    color: darkgreen;
}
.camelCase{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: orangered;
}
.codeText{
    font-family: monospace;   
}
pre {
    background-color: #EEE;
    color: blue;
    border: 1px dashed #CCC;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    display: block;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    margin: 0 0 1em;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 1em;
    margin-left: 0px;
    padding: 1em .4375em;
    white-space: pre;
    line-height: 1.25;
    font: .8125em 'Monaco', 'Consolas', 'Lucida Console', 'Nimbus Mono L', 'Courier New', 'Courier', monospace;
}
ul{
    list-style-type: none;
}
