/* 
    Document   : WidgetCalc
    Created on : 25.04.2012, 14:35:24
    Author     : Alexander Buchner
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#WidgetCalc{
    border: 3px solid gray;
    border-radius: 5px;
    width: 400px;
    padding: 5px;
}